* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

font-family: 'Times New Roman', Times, serif, monospace; 
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 249, 255);
}

#header {
    height: 10vh;
    background-color: rgb(188, 138, 167);
    text-align: center;
    padding-top: 25px;
}

.main {
    height: 80vh;
}

.aside {
    height: 100%;
    width: 20%;
    background-color: #f1d4e0;
    float: left;
    text-align: center;
    padding-top: 60px;
}

.footer {
    height: 10vh;
    background-color: rgb(188, 138, 167);
    text-align: center;
    padding-top: 40px;
}
    
.conteudo-principal {
    height: 100%;
    width: 80%;
    background-color: rgb(225, 249, 225 );
    float: right;
    padding: 60px;
}

.caixa {
    margin: 30px 0px;
}

.subconprin {
    margin-bottom: 10px;
}

li {
    list-style: inside;
}

.subtitulo {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.nav-lateral{
    display: flex;
    justify-content: center;
}                                 

.lista-icones{
    list-style: none;
}

.lista-icones a {
    display: flex;
    align-items: center; 
}

.icones{
    width: 24px;
    height: 24px;
    margin: 5px 0px;
}

.icone-texto{
    margin-left: 5px;
}
 